{% load static %}
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap"
      rel="stylesheet"
    />
    <link
      href="https://fonts.googleapis.com/css2?family=Rhodium+Libre&display=swap"
      rel="stylesheet"
    />

    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Yashaswini Sharma</title>
    <!-- Link to your CSS file -->
    <link rel="stylesheet" href="{% static 'index/index.css' %}" />
    <style></style>
  </head>
  <body>
    <!-- Your HTML content goes here -->
    <div class="roboto-medium">
      <a href="" class="name">YASHASWINI SHARMA</a>
      <a href="" class="aboutMe">ABOUT ME</a>
      <a href="" class="projects">PROJECTS</a>
    </div>

    <!-- Other HTML elements -->
  </body>
</html>
